<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>꾸준함을 즐기는 개발자, 최원준입니다.</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/css/portfoliostyle.css">
</head>

<body>
<nav>
    <div class="lang-menu" >
<!--        <span>Portfolio (</span>-->
        <a href="/portfolio/eng/">
            <span>English</span>
        </a>
        <a href="/portfolio/kor/">
            <span>Korean</span>
        </a>
<!--        <span>),   </span>-->
<!--        <span>Resume (</span>-->
<!--        <a href="/portfolio/eng/">-->
<!--            <span>English</span>-->
<!--        </a>-->
<!--        <a href="/porfolio/kor/">-->
<!--            <span>Korean</span>-->
<!--        </a>-->
<!--        <span>)</span>-->
    </div>
</nav>

<div class="container">
    <div class="profile">
        <div class="profile_container">
            <div class="profile_profileImg">
                <img src="/images/Me1.png" alt="WonJoon Choi">
            </div>
            <div>
                <h1 class="profile_name">
                    <br><br><br><br><br>
                    <span class="profile_name_lastName">꾸준함을 즐기는 개발자</span>
                    <span class="profile_name_firstName"><b>최원준입니다. </b></span>
                </h1>
                <!--                <p class="profile_title">백엔드 웹 개발자</p>-->
<!--                <p class="description_profile_description">-->

                </p>
            </div>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#128400;Introduction</span></h2>

<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-3">
        <div class="contact">
            <!--            <h3 class="title">About Me</h3>-->
            <!--            https://www.w3schools.com/charsets/tryit.asp?deci=128400-->

            <h3 class="title">About Me</h3>
            <div class="Aboue_me"><br><br>
                <p class="description">
                    안녕하세요! 백엔드 신입 개발자 최원준입니다. 제 포트폴리오를 방문해주셔서 감사합니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 개발자가 되기 전부터 컴퓨터가 할 수 있는 것들에 대해 매료되어, 지금은 완전히 개발에 <b>마음</b>을 사로잡혔습니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 빠른 개발과 기능 구현뿐만 아니라 충분한 <b>기획</b>을 통한 효율적인 개발 방식을 선호합니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 규칙과 관례를 준수하여 프로젝트 구조와 팀을 유지할 수 있는 <b>일관성</b>을 중요시합니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 잡담과 아이디어 회의 그리고 <b>함께 성장</b>하는 것에 관심이 많습니다.<br><br>
                </p>
            </div>
            <br><br>
            <h3 class="title">개발자가 된 동기</h3>
            <div class="Aboue_me"><br><br>
                <p class="description">
                    저는 이전 직장에서 해외영업과 물류 관리 업무를 맡았었습니다. 물류 센터의 SCM 프로그램을 사용하다가 불편한 점들이 많아서 저만의 입출력 시스템을 엑셀로 구현하게 되었고, <br><br>
                    그 과정에서 VBA를 처음 접하게 되었습니다. 이를 시작으로, 엑셀을 활용한 기초적인 물류 입력과 통계 작업부터 시작하여 제품에 대한 트랜드 분석과 경쟁사 제품 <br><br>
                    비교분석의 자동화를 만들며, <b>컴퓨터가 할 수 있는 무궁무진한 일들에 흥미를 느끼고</b> 개발을 공부하기 시작했습니다. <br><br>
                    개발에 대한 열정이 더욱 커져, 부트캠프에 참여하고 개인 프로젝트를 진행하며 개발 경험을 쌓았습니다. 개발 과정에서 문제 해결에 대한 창의성을 발휘하고 새로운 기술들을 배워 <br><br>
                    끊임없이 도전할 수 있는 환경에서 일할 수 있다는 것을 깨달았습니다. 이러한 경험들을 바탕으로 앞으로도 지속적으로 발전하고 성장하여 최상의 개발자가 되기 위해 노력하고 있습니다.<br><br>
                </p>
            </div>
            <br><br>
            <h3 class="title">개발자로서의 목표</h3>
            <div class="Aboue_me"><br><br>
                <p class="description">
                    저는 개발을 수단으로, <b>서비스 제공이 목적</b>인 개발자로서의 역량을 지속적으로 향상시키고자 노력하고 있습니다. 프로세스를 단순한 개발 단계로만 보는것이 아니라 그 결과물로<br><br>
                    제공되는 서비스가 사용자에게 진정한 가치를 제공하는 데 중점을 두는 개발자가 되고자 합니다. 개발 업무뿐만 아니라 일련의 프로세스 관리를 통해 여러 서비스의 성공적인 출시와<br><br>
                    웅영을 할 수 있는 개발자로 성장하고자 합니다. 개발을 통해 현실 세계에서 가치를 창출하고, 사용자들에게 현실적이고 실질적인 도움을 주는 서비스를 제공하는 개발자가 되는 것이 저의<br><br>
                    목표입니다.
                </p>
            </div>
            <br><br>
<!--        </div>-->
<!--        <div class="social">-->
            <h3 class="title">Contact & Channel</h3>
            <div class="social_items">
                <a target="_b" class="social_item">
                    <i data-feather="mail"></i>
                    <span>724thomas@gmail.com</span>
                </a>
                <a href="https://github.com/724thomas" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/724thomas</span>
                </a>
                <a href="https://thomaschoi.tistory.com/" target="_blank" class="social_item">
                    <i data-feather="bold"></i>
                    <span>/ThomasChoi.tistory</span>
                </a>
            </div>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#128296;Skills</span></h2>
<div class="container">

    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">Language</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Java, Python, C#, SQL, VBA
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Backend</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                SpringBoot, FastAPI, Spring Security, JPA, QueryDSL, Mockito, Docker-Compose
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Server</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                AWS(GCP), Apache Tomcat, Nginx
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Security</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Https, JWT, OAuth
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">DB</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                MySQL(MariaDB), Redis, PostgreSQL, pgvector
            </p>
        </div>
    </div>

<!--    <div class="group-1">-->
<!--        <div class="skills">-->
<!--            <h3 class="title">Documents</h3>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="group-2">-->
<!--        <div class="exp">-->
<!--            <p class=" description">-->
<!--                Github, Slack, Notion-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
</div>



<h2 class="subtitle"><span style='font-size:30px;'>&#127980;Work Experience</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title"> 아이톡시</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>아이톡시 신규사업 개발 참여(23.09.01.~)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 백엔드 개발자이자 개발팀 리더로 참여
            </p>
            <br>
            <p class=" description">
                <a href="http://www.hitnews.co.kr/news/articleView.html?idxno=47877" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/NewsArticle/PetNuri</span>
                </a>
            </p>
        </div>
        <div class="exp">
            <p class=" description">
                <b> PetNuri : 반려동물 헬스케어 토탈 플랫폼 서비스 </b>
            </p>
            <br>
            <p class=" description">
                기술스택: Jira, Confluence, Figma, Figjam
            </p>
            <br>
            <p class=" description">
                개발인원: 12명 (UXUI 2, FE 5, BE 5)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 기획 단계
            </p>
        </div>
    </div>


    <div class="group-1">
        <div class="skills">
            <h3 class="title"> 카카오브레인</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>카카오브레인 PathFinder 채용연계형 인턴 (23.06.28.~23.08.28)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ Unthinkable Question부터 시작하여 기획, 개발, MVP검증, 실험설계, 배포까지 경험
            </p>
            <br>
            <p class=" description">
                ㅇ LLM을 활용한 서비스 아이디어 제시 및 검증 경험
            </p>
            <br>
            <p class=" description">
                ㅇ Spring과 FastAPI 기반의 서비스 개발 경험
            </p>
            <br>
            <p class=" description">
                ㅇ 애자일 코치와 함께한 8주간의 애자일 프로세스
            </p>
            <br>
            <p class=" description">
                <a href="https://www.kakaobrain.com/" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/kakaobrain.com/</span>
                </a>
            </p>
        </div>
        <div class="exp">
            <p class=" description">
                <b> PeterPen : LLM을 활용하여 주어진 Rubric에 따른 서술형 답안 첨삭 및 생성 서비스</b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, JPA, QueryDSL, Spring Security, JWT, Python, FastAPI, SQLAlchemy, Poetry, MySQL, Redis, PostgreSQL-pgvector, GCP, Docker, Github Actions
            </p>
            <br>
            <p class=" description">
                개발인원: 4명 (FE 2, BE 2)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ Prompt Tuning과 Embedding을 활용한 유사도 필터링 기반 첨삭 서비스 구현
            </p>
            <br>
            <p class=" description">
                ㅇ Asynchronous 구조 도입을 통한 요청 시간 단축 및 서버 부하 감소 효과
            </p>
            <br>
            <p class=" description">
                ㅇ API서버와 AI서버의 분리를 통한 개발 역할 분담을 통한 개발 생산성 향상
            </p>
            <br>
            <p class=" description">
                ㅇ API서버 리팩토링을 통한 DRY 원칙 준수 및 데이터베이스의 비효율적 Cardinality 문제 해결
            </p>
        </div>
    </div>

</div>







<h2 class="subtitle"><span style='font-size:30px;'>&#9749;Side Projects</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title">👨‍💼‍ MediMatch</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 개인, 기업, 관리자 회원으로 구분하여 인사와 채용 절차 프로세스 자동화와 관리 서비스 (23.03.03.~23.04.11.)</b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Spring security, JPA, Lombok, JWT, RDS MySQL, AWS EC2, Jenkins
            </p>
            <br>
            <p class=" description">
                개발인원: 10명 (UXUI 3, FE 3, BE 4)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ ChatGpt의 Intent Recognition을 활용한 개인 수행비서 도입으로 사용자의 의도를 파악하여 적절한 기능을 수행
            </p>
            <br>
            <p class=" description">
                ㅇ JWT의 Access, Refresh Token을 사용하여 보안성 향상 및 사용자의 편의성 제공
            </p>
            <br>
            <p class=" description">
                ㅇ Redis를 사용하여 캐싱을 통한 성능 향상 및 서버 부하 감소 효과
            </p>
            <br>
            <p class=" description">
                ㅇ 예외 처리와 테스트 코드를 통한 안정성 확보와 유지 보수성 향상 및 테스트 자동화
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/KDT3-final-project-team2/backend" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/Medi_Match_BE/Readme.md</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">💳 Credit Market</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>대출 상품들을 한눈에 검색해 볼 수 있는 웹 서비스 (23.02.09.~23.02.25.) </b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Spring security, JPA, nginx, Lombok, JWT, MariaDB, MySQL, AWS EC2
            </p>
            <br>
            <p class=" description">
                개발인원: 8명 (FE 4, BE 4)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 팀장으로 팀원들의 업무 분담 및 업무 진행 상황 관리 및 팀원들의 업무에 대한 피드백
            </p>
            <br>
            <p class=" description">
                ㅇ 실수로 인한 서버와 레포의 삭제로 인한 owner 권한과 백업의 중요성을 경험
            </p>
            <br>
            <p class=" description">
                ㅇ Https 설정, Spring Security와 JWT를 통한 보안 강화
            </p>
            <br>
            <p class=" description">
                ㅇ Trie 알고리즘을 사용한 사용자 검색 속도 향상
            </p>
            <br>
            <p class=" description">
                ㅇ FE와의 협업을 통한 업무의 문서화, 작업순서, 의사소통의 중요성 경험
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/724thomas/credit-market-BE" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/Credit_Market_BE</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">📚 College Library</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>대학교 도서관 대여 웹 서비스  (22.12.02.~22.12.23.)</b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Thymeleaf, Jsoup, Kakao API, JavaCV, Mybatis, MariaDB
            </p>
            <br>
            <p class=" description">
                개발인원: 1명 (개인 프로젝트)
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ OpenCV frontline 데이터 모델과 Histogram을 이용한 얼굴검출 결제
            </p>
            <br>
            <p class=" description">
                ㅇ 소셜로그인(카카오)을 통한 회원가입 및 로그인 구현으로 사용자의 편의성 제공
            </p>
            <br>
            <p class=" description">
                ㅇ 학생과 관리자의 권한을 분리
            </p>
            <br>
            <p class=" description">
                ㅇ 잦은 리팩토링으로 기획 단계에서 충분한 검토와 고민이 중요하다는 것을 경험
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/724thomas/SpringBoot_CollegeLibrary" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/College_Library</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">🎮 Adorable Dragon</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>너무나도 재미있게 개발했었던 유니티 안드로이드 게임 (2018.02.01.~2018.10.01.)</b>
            </p>
            <br>
            <p class=" description">
                기술스택: Unity, C#
            </p>
            <br>
            <p class=" description">
                개발인원: 1명 (개인 프로젝트)
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ 기기별 성능에 따른 프레임 드랍 현상을 텍스처 압축, 시야 설정 기능으로 보완
            </p>
            <br>
            <p class=" description">
                <a href="https://play.google.com/store/apps/details?id=com.izaron.androideffects.vibration2" target="_b" class="social_item">
                    <i data-feather="play"></i>
                    <span>/PlayStore/AdorableDragon</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://www.youtube.com/watch?v=S6-Vlvt75nE" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>/Youtube/개발기록</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://www.youtube.com/watch?v=V8IwXBggTys" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>/Youtube/시연영상</span>
                </a>
            </p>
        </div>
    </div>

</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#9997;Activities</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title">🧠 AvocadoBrain</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>카카오브레인 인턴들과의 CS, 서적스터디 (23.09.18.~)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 서적스터디 - 프로그래밍인사이트 : 대규모 시스템 설계에 대한 기초 지식
            </p>
            <br>
            <p class=" description">
                ㅇ CS스터디 - 자바, 스프링, 컴퓨터구조, 운영체제 등
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">📋 부트캠프 프로젝트 조율</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>패스트캠퍼스 수강생들과 회사의 소통을 위한 중간 다리 역할 진행 (23.07.01.~23.10.06.)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 회사의 RFP 제작 및 수강생들의 질문 피드백
            </p>
            <br>
            <p class=" description">
                ㅇ 백엔드 개발자 수강생들이 개발에 어려움을 느끼는 부분에 대한 도움 제공
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">🧠 CS 전공지식 스터디</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>[리더] 면접 대비 전공지식 스터디 (23.03.24. ~23.07.11.)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 채용중인 회사의 기술 스택과 관련된 CS 지식과 현직자들의 의견을 종합하여 방향 설정
            </p>
            <br>
            <p class=" description">
                ㅇ "면접을 위한 CS 전공지식 노트"를 바탕으로 <b>디자인 패턴, 네트워크, 운영체제, 데이터베이스, 자료구조</b> 등을 공부
            </p>
            <br>
            <p class=" description">
                ㅇ 매주 월요일, 목요일마다 총 2시간씩 짝지어서 면접자, 지원자로 진행
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">👨‍💻 알고리즘 스터디</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>[리더] 코딩 테스트 대비 알고리즘 공부</b>
            </p>
            <br>
            <p class=" description">
                ㅇ Leetcode, 백준, Codewars 등의 알고리즘 사이트에서 <b>1,163</b>문제 풀이 (23.05.02. 기준)
            </p>
            <br>
            <p class=" description">
                ㅇ <b>시즌 1</b>: 교육과정내 팀내에서 소규모 그룹으로 진행된 스터디 (22.12.07.~23.04.15.)
            </p>
            <p class=" description">
                <a href="https://github.com/AlgorithmReivew-Organizaion/CodingReviewRepository" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/Github/CodingReviewRepository 시즌 1</span>
                </a>
            </p>
            <br>
            <p class=" description">
                ㅇ <b>시즌 2</b>: 스터디 인원을 모집하여 진행한 소규모 그룹 스터디 (23.04.25.~23.09.14.)
            </p>
            <br>
            <p class=" description">
                ㅇ <b>시즌 3</b>: 스터디 인원을 모집하여 진행한 소규모 그룹 스터디 (23.09.15.~)
            </p>
            <p class=" description">
                <a href="https://github.com/AlgorithmReview-Organization-2/CodingReviewRepository" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/Github/CodingReviewRepository 시즌 2, 3</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">👨‍🏫 TechTalk</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> [리더] 교육과정 내에서 자발적으로 팀 단위로 진행한 세미나 (22.12.07.~23.01.18.)</b>
            </p>
            <br>
            <p class=" description">
                <a href="https://www.notion.so/0c5e775bdf804489947d2e729bf4be86?v=c7530a13fc724e4faf4877bf539918ec&p=af7de8209e6c4bb0bba1cff8331a749c&pm=s" target="_b" class="social_item">
                    <i data-feather="film"></i>
                    <span>/Notion/All_Presentations</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/NFFwtxEirNQ" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/AWS를 통한 배포 (23.01.17.)</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/f-QPcwjoWW0" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/IPv4, Subnet Mask, CIDR, DHCP, NAT (23.01.03.)</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/iZ_IUdTcpWE" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/TCP,IP (22.12.21.)</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/dVAJXfhdpdY" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/클린코드 팁 5가지 (22.12.07.)</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">📖 더욱 깊게 알아보는 CS</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> [개인] 전체적인 맥락과 흐름을 파악하기 위한 추가 CS 지식 공부</b>
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ CS 지식 공유 스터디 -  컴퓨터 구조, 운영체제, 네트워크, 데이터베이스, 소프트웨어 공학 등을 공부 할 수 있었습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ "자바 웹 개발 워크북" - Spring, Spring Boot를 전체적으로 다시 한번 공부 할 수 있었습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ "CODE 코드" - 컴퓨터의 구성요소들, 비트 논리게이트 등 하드웨어부분을 공부 할 수 있었습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ "그림으로 배우는 네트워크" - 테크톡 발표와 동행하여 참고하여 공부했었습니다.
            </p>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#127979;Education</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title">KDT 핀테크 서비스 개발자 3기</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 패스트캠퍼스에서 진행한 백엔드 개발자 양성 교육 과정 (22.09.15.~23.04.11.)</b>
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ 7개월 교육 과정
            </p>
            <br>
            <p class=" description">
                ㅇ 자바부터 시작한 웹 서비스 중심 교육
            </p>
            <br>
            <p class=" description">
                ㅇ FE, UX/UI, 기업담당자를 포함한 팀 프로젝트를 통한 협업 경험
            </p>
            <br>
            <p class=" description">
                ㅇ Java, CS, Spring Boot, Server, Algorithm 외 다수
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">세종대학교</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 경영학 학사 졸업 (2011.~2019.)</b>
            </p>
            <br>
        </div>
    </div>
</div>



<h2 class="subtitle"><span style='font-size:30px;'>&#127941;Certificate</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title"> SQLD</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2019년 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 데이터베이스와 데이터 모델링에 대한 지식
            </p>
            <br>
            <p class=" description">
                ㅇ 데이터를 조작하고 추출하는데 있어서 정확하고 최적의 성능을 발휘하는 SQL작성
            </p>
            <br>
            <p class=" description">
                <a href="https://www.dataq.or.kr/www/sub/a_04.do" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/About/SQLD</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">경영 빅데이터 분석사</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2015년 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 빅데이터 경영업무에 필요한 이론과 실무능력을 검증하는 자격 시험제도
            </p>
            <br>
            <p class=" description">
                ㅇ 빅데이터 비즈니스 모델, 활용 전략, 분석 기획, 통계 등
            </p>
            <br>
            <p class=" description">
                <a href="http://www.bigtest.or.kr/academy/exam_guide/exam_guide.php?c=1" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/About/BigDataAnalysis</span>
                </a>
            </p>
        </div>
    </div>
</div>


<h2 class="subtitle"><span style='font-size:30px;'>&#128194;History</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">걸어왔던 길</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <a href="/resume/kor" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/Resume</span>
                </a>
            </p>
            <br>
        </div>
    </div>
</div>

<script>
    feather.replace()
</script>
</body>
<!--https://codepen.io/724thomas/pen/zYJEQoB?editors=1100-->
</html>