<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제해결을 즐기는 개발자, 최원준입니다.</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/css/portfoliostyle.css">
</head>
<body>

<div class="container">
    <div class="profile">
        <div class="profile_container">
            <div class="profile_profileImg">
                <img src="/images/Me.jpg" alt="WonJoon Choi">
            </div>
            <div>
                <h1 class="profile_name">
                    <br><br>
                    <span class="profile_name_lastName">문제해결을 즐기는 개발자</span>
                    <span class="profile_name_firstName"><b>최원준입니다. </b></span>
                </h1>
            </div>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#128400;Introduction</span></h2>

<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-3">
        <div class="contact">

            <!--            <h3 class="title">About Me</h3>-->
            <!--            https://www.w3schools.com/charsets/tryit.asp?deci=128400-->

            <h3 class="title">About Me</h3>
            <div class="About_me"><br><br>
                <p class="description">
                    ㅇ 개발자가 되기 전부터 컴퓨터가 할 수 있는 것들에 대해 매료되어, 지금은 완전히 개발에 <b>마음</b>을 사로잡혔습니다;<br><br>
                </p>
                <p class="description">
                    ㅇ <b>도메인에 집중</b>하며 아이디어 회의 그리고 <b>함께 성장</b>하는 것에 관심이 많습니다;<br><br>
                </p>
                <p class="description">
                    ㅇ <b>가장 편한 코드와 가장 불편한 테스트코드</b>로 쉽고 믿음직스러운 코드리뷰를 지향합니다;<br><br>
                </p>
                <p class="description">
                    ㅇ 충분한 기획의도의 이해을 통한 효율적인 접근법과 <b>MVP를 활용한 신속한 개발</b> 및 기능 구현 개발 방식을 선호합니다;<br><br>
                </p>
                <p class="description">
                    ㅇ 규칙과 관례를 준수하여 프로젝트 구조와 팀을 유지할 수 있는 <b>일관성</b>을 중요시합니다;<br><br>
                </p>
            </div>
            <br><br>
            <h3 class="title">개발자가 된 동기</h3>
            <div class="Aboue_me"><br><br>
                <p class="description">
                    저는 이전 직장에서 무역업을 했었습니다. 물류 센터의 SCM 프로그램을 사용하다가 불편함을 느껴, 저만의 <b>입출력 및 자동화 시스템을 엑셀로 구현</b>하게 되었습니다. <br><br>
                    그 과정에서 VBA를 처음 접하게 되었고, 이를 시작으로, 컴퓨터가 할 수 있는 무궁무진한 일들에 흥미를 느끼며 개발을 공부하기 시작했습니다. <br><br>
                </p>
            </div>
            <br><br>
            <h3 class="title">개발자로서의 목표</h3>
            <div class="Aboue_me"><br><br>
                <p class="description">
                    저는 개발을 수단으로, <b>서비스 제공이 목적</b>인 개발자로서의 역량을 지속적으로 향상시키고자 노력하고 있습니다.<br><br>
                    프로세스를 단순한 개발 단계로만 보는것이 아니라 그 결과물로 제공되는 서비스가 사용자에게 진정한 가치를 제공하는 데 중점을 두는<br><br>
                    <b>도메인 전문 개발자</b>가 되고자 합니다. 개발 업무뿐만 아니라 일련의 프로세스 관리를 통해 여러 서비스의 성공적인 출시와 운영을 할 수 있는 개발자로 <br><br>
                    성장하고자 합니다. 개발을 통해 현실 세계에서 <b>가치를 창출</b>하고, 사용자들에게 현실적이고 실질적인 <b>도움을 주는 서비스</b>를 제공하는 개발자가 되는 것이 저의 목표입니다.
                </p>
            </div>
            <br><br><br><br><br>
            <h3 class="title">Contribution Graph</h3>
            <div class="social_items">
                <p class=" description">
                    713 contributions in 2022
                </p>
                <br>
                <div class="profile_githubImg">
                    <img src="/images/2022 github.jpg" alt="WonJoon Choi">
                </div>
                <br>
                <p class=" description">
                    3,027 contributions in 2023
                </p>
                <br>
                <div class="profile_githubImg">
                    <img src="/images/2023 github.jpg" alt="WonJoon Choi">
                </div>
            </div>
            <br><br><br><br><br>
            <!--        </div>-->
            <!--        <div class="social">-->
            <h3 class="title">Contact & Channel</h3>
            <div class="social_items">
                <a target="_b" class="social_item">
                    <i data-feather="mail"></i>
                    <span>이메일 724thomas@gmail.com</span>
                </a>
                <a href="https://github.com/724thomas" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>깃허브 github.com/724thomas</span>
                </a>
                <a href="https://wonjoonthomaschoi.site/blog" target="_blank" class="social_item">
                    <i data-feather="bold"></i>
                    <span>블로그 wonjoonthomaschoi.site/blog</span>
                </a>
                <a href="http://wonjoonthomaschoi.site/portfolio/kor" target="_blank" class="social_item">
                    <i data-feather="user-check"></i>
                    <span><b>포트폴리오(웹 버전) wonjoonthomaschoi.site/portfolio/kor</b></span>
                </a>
                <a href="http://wonjoonthomaschoi.site/resume/kor" target="_blank" class="social_item">
                    <i data-feather="user-plus"></i>
                    <span>이력서(웹 버전) wonjoonthomaschoi.site/resume/kor</span>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<h2 class="subtitle"><span style='font-size:30px;'>&#128296; Skills</span></h2>
<div class="container">

    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">Language</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Java, Python
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Backend</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                SpringBoot, FastAPI, Spring Security, JPA, QueryDsl
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Infra</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                AWS, GCP, Kafka, RDS, redis, docker-compose
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Security</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Https, JWT, OAuth
            </p>
        </div>
    </div>

    <!--    <div class="group-1">-->
    <!--        <div class="skills">-->
    <!--            <h3 class="title">Documents</h3>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="group-2">-->
    <!--        <div class="exp">-->
    <!--            <p class=" description">-->
    <!--                Github, Slack, Notion-->
    <!--            </p>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#127980; Career</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title"> 그래픽</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>Graphic Backend Developer Intern (24.01.01.~24.05.31.)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 스타트업 회사로, SNS형식의 만화를 제공하는 서비스를 개발부터 운영했습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ 단일책임 원칙과, 일관성을 위반하지 않는 개발에 중점을 두었습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ 10% 읽기 쉬운 코드와 90% 테스트 코드로 기능 개발과 신뢰성을 보장하려 노력했습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ 버저닝을 통하여 운영 환경에 안정적인 서비스를 제공했습니다.
            </p>
            <br>
            <p class=" description">
                <a href="https://graphic.fan/" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span> 그래픽 홈페이지 - https://graphic.fan/</span>
                </a>
            </p>
            <p class=" description">
                <a href="https://play.google.com/store/apps/details?id=com.webtoon.graphic&hl=ko" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span> Android (1천+ 다운로드) - https://play.google.com/store/apps/details?id=com.webtoon.graphic&hl=ko </span>
                </a>
            </p>
            <p class=" description">
                <a href="https://apps.apple.com/kr/app/%EA%B7%B8%EB%9E%98%ED%94%BD/id6449254411" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span> IOS (SNS 75위) - https://apps.apple.com/kr/app/%EA%B7%B8%EB%9E%98%ED%94%BD/id6449254411 </span>
                </a>
            </p>
        </div>
        <div class="exp">
            <p class=" description">
                <b> Graphic : 만화를 그리고 싶은 아마추어 만화가들과 구독자들이 누구든 만화를 쉽게 공유하고 볼 수 있는 SNS 서비스</b>
            </p>
            <br>
            <p class=" description">
                만화를 그리고 싶은 아마추어 만화가들과 구독자들이 만화를 쉽게 접할 수 있는 만화 업로드 및 SNS 서비스를 개발했습니다.
                <br>
                이미지를 빠르게 업로드하고 보여줄 수 있는 서비스이며, 남녀노소 누구나 쉽게 만화를 즐길 수 있는 서비스를 제공을 목표로 하고 있고,
                <br>
                그래픽은 타 SNS나 웹툰과 차별화된 서비스를 제공하고자 하며, 이를 위해 다양한 기능을 제공하고자 합니다.
            </p>
            <br>
            <p class=" description">
                개발인원: 4명 (Flutter 1, Server 1, Web 1, PM 1)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할 및 프로젝트 주요 성과]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 로그 데이터 <b>마이그레이션 프로세스 구현</b>
                <br><br>
                ㅤCloudWatch 로그 데이터를 S3 및 Glacier로 아카이빙하는 자동화 프로세스 구현을 통한 저장비용 최소화
                <br><br>
                ㅤEventBridge와 Lambda를 사용하여, 데이터를 해당 저장소로 이동시키는 <b>배치 프로세스</b>를 구현하였습니다.
            </p>
            <br>
            <p class=" description">
                <a href="http://wonjoonthomaschoi.site/blog/서버-로그-아카이브-파이프라인" target="_b" class="social_item">
                    <i data-feather="file-text" style="margin-left: 12px;"></i>
                    <span><b><i>http://wonjoonthomaschoi.site/blog/서버-로그-아카이브-파이프라인</i></b></span>
                </a>
            </p>
            <br><br>
            <p class=" description">
                ㅇ 회원 정보의 완전 삭제를 위한 <b>배치 프로세스 개발</b>
                <br><br>
                ㅤ간소화된 연결 관계를 가진 DB 스키마에서 시스템 구조를 <b>변경하지 않는 방향</b>으로, 회원 정보 삭제.
                <br><br>
                ㅤ스키마에 대한 문제점과 개선 가능성을 식별하고, 이를 통해 <b>trade-off를 고려</b>한 데이터베이스 스키마의 개선을 성공적으로 이끌어냈습니다.
            </p>
            <br><br>
            <p class=" description">
                ㅇ 스케줄러(Cron) 기반의 일일 <b>통계 집계 및 알림 시스템 구현</b>
            </p>
            <br><br>
            <p class=" description">
                ㅇ Lambda 이미지 업로드 <b>로직 최적화</b>
                <br><br>
                ㅤ불필요한 로직, 변수 등을 제거하여, 메모리 사용량을 최적화하여, 이미지 업로드 성공률을 <b>극대화</b>하였습니다.
                <br><br>
                ㅤ이미지 크롭, 리사이즈, 압축 등의 작업을 수행하는 람다 함수의 로직 순서 변경을 통해 처리속도를 더욱 <b>향상</b>시켰습니다.
            </p>
            <p class=" description">
                <a href="http://wonjoonthomaschoi.site/blog/람다-이미지-프로세싱" target="_b" class="social_item">
                    <i data-feather="file-text" style="margin-left: 12px;"></i>
                    <span><b><i>http://wonjoonthomaschoi.site/blog/람다-이미지-프로세싱</i></b></span>
                </a>
            </p>
            <br><br>
            <p class=" description">
                ㅇ 알림(Notification) 시스템 구현
                <br><br>
                ㅤEventPublisher와 Firebase를 사용하여, 구독하는 유저들에게 알림을 보내는 시스템을 구현하였습니다.
                <br><br>
                ㅤDB와 Firebase Subscription의 일관성을 유지하기 위해, Failover 로직 추가.
            </p>
            <br>
            <p class=" description">
                <a href="http://wonjoonthomaschoi.site/blog/데이터-일관성-원자성-UX최적화" target="_b" class="social_item">
                    <i data-feather="file-text" style="margin-left: 12px;"></i>
                    <span><b><i>http://wonjoonthomaschoi.site/blog/데이터-일관성-원자성-UX최적화</i></b></span>
                </a>
            </p>
            <br><br>
            <p class=" description">
                ㅇ 데이터베이스 <b>쿼리 최적화</b>
                <br><br>
                ㅤ기존 여러 번의 fetch 작업을 요구하던 로직을 SQL Join 구문을 활용해 단일 쿼리로 리팩토링
                <br><br>
                ㅤCQRS 패턴을 적용하여, 읽기와 쓰기의 분리를 통해, 작업의 복잡성을 <b>줄이고,</b> 개발 생산성을 <b>향상</b>시켰습니다.
            </p>
            <br><br>
            <br>
            <br>
            <p class=" description">
                <b>[사용한 Skill과 지식]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ Java, SpringBoot (API 서버)
            </p>
            <br>
            <p class=" description">
                ㅇ JWT, Redis (보안, 캐싱)
            </p>
            <br>
            <p class=" description">
                ㅇ Whatap, CloudWatch (모니터링)
            </p>
            <br>
            <p class=" description">
                ㅇ MongoDB, Redis, S3, <b>Glacier</b> (DB)
            </p>
            <br>
            <p class=" description">
                ㅇ Notion, Slack, Jira, Linear, Swagger, GitKraken (협업)
            </p>
            <p class=" description">
                <a href="http://wonjoonthomaschoi.site/review/2024년-상반기-그래픽-인턴-회고록-medium" target="_b" class="social_item">
                    <i data-feather="file-text"></i>
                    <span><b><i>인턴 회고록 - http://wonjoonthomaschoi.site/review/2024년-상반기-그래픽-인턴-회고록-medium</i></b></span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title"> 펫누리</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 펫누리 홈페이지 프로토타입 제작(외주) (23.09.01.~23.11.30.)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 프로젝트 총괄 매니저 및 백엔드 개발자
            </p>
            <br>
            <p class=" description">
                ㅇ 12명 개발팀 구성 및 프로토타입 제작 리드
            </p>
            <br>
            <p class=" description">
                ㅇ 펫누리 소속 기획자, 디자이너와 협업
            </p>
            <br>
            <p class=" description">
                ㅇ 애자일 프로세스로 아이디어 회의 및 피드백
            </p>
        </div>
        <div class="exp">
            <p class=" description">
                <b> PeterPen : LLM을 활용하여 주어진 Rubric에 따른 서술형 답안 첨삭 및 생성 서비스</b>
            </p>
            <br>
            <p class=" description">
                4,600명중 남은 32명의 마지막 정규직 평가, 패스파인더 프로젝트는 기획 측면에 무게를 둔 프로그램으로 2달간 진행되었습니다.
                <br>
                대규모 언어모델을 필수적으로 사용하는 서비스 기획이 필수였습니다. 기획의 임무와 LLM이라는 동시에 구체적이고도
                <br>
                포괄적인 프레임워크 내에서 아이디어를 제약해야 했기에 상당한 도전을 경험했습니다.
                <br><br>
                LLM의 강점들을 고려하여 PeterPen 이라는 이름으로, 주어진 객관적인 지표에 따른 서술형 답안 첨삭 및 생성 서비스를 기획했습니다.
                <br>
                이를 구체화하기 위한 대상은 토플(TOEFL) 영어 시험이었습니다.
                <br>
                유저들이 겪고있는 폐인포인트도 확실했고, 사업적으로도 매력있는 주제였습니다.
            </p>
            <br>
            <p class=" description">
                개발인원: 4명 (FE 2, BE 2)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할 및 프로젝트 주요 성과]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 비동기 처리를 활용한 병렬 처리로 GPT와의 통신 시간 단축 및 <b>최적화</b>
                <br><br>
                ㅤ여러 스레드를 활용한 병렬 처리 접근법과 비동기 요청 수집 방식을 사용하여 GPT와의 통신 효율을 극대화하였습니다.
                <br><br>
                ㅤ기존 20~40분 소요되던 API 요청 시간을 최대 5분 이내로 단축하였으며, <b>최대 87.5%의 시간 절약</b> 효과를 얻었습니다.
            </p>
            <br><br>
            <p class=" description">
                ㅇ 프롬프트 튜닝과 임베딩을 활용한 비슷한 답변을 유사도 필터링을 통하여 과채점 방지 <b>구현</b>
                <br><br>
                ㅤ언어모델과의 효과적인 상호작용을 위해 다양한 프롬프트를 테스트하고 조정, 설계하여, 주어진 문장에 대해 개발자가 원하는
                <br><br>
                ㅤ답변을 유도할 수 있도록 하여 1차 전처리 과정을 거쳤고, 임베딩을 통하여 2차 전처리 과정을 거쳤습니다.
                <br><br>
                ㅤ2차 전처리 과정에서, 유사도 측정의 <b>계산 비용</b>을 낮추고 데이터 <b>저장공간 효율성</b>을 높이기 위해 단어, 문장,
                <br><br>
                ㅤ문단을 벡터로 변환하였습니다.
            </p>
            <br><br>
            <p class=" description">
                ㅇ 추가적인 저장공간 효율성을 확보할 수 있는 희소행렬 적용 <b>검토</b>
                <br><br>
                ㅤ희소행렬에 대한 리서치 결과, 메모리 사용량과 계산 비용의 <b>trade-off 관계</b>에 있기 때문에, 데이터의 양이 많을수록 효율적으로
                <br><br>
                ㅤ작용합니다. 프로젝트의 현 상황을 고려하였을때, 희소행렬을 사용하지 않는 것이 효율적이라 <b>판단</b>하였습니다.
            </p>
            <br><br>
            <p class=" description">
                ㅇ API서버(자바, 스프링), AI서버(파이썬, FastAPI) 개발 및 프롬프트 엔지니어링 참여
            </p>
            <br><br>
            <p class=" description">
                ㅇ 팀의 애자일 프로세스 및 프로젝트 관리 리더
            </p>
            <br><br>
            <br>
            <br>
            <br>
            <p class=" description">
                <b>[사용한 Skill과 지식]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ Java, SpringBoot (API 서버)
            </p>
            <br>
            <p class=" description">
                ㅇ JWT, Redis (보안)
            </p>
            <br>
            <p class=" description">
                ㅇ Python, FastAPI (AI 서버)
            </p>
            <br>
            <p class=" description">
                ㅇ <b>병렬처리, 비동기처리</b> (AI 서버와 GPT와의 통신 시간 단축)
            </p>
            <br>
            <p class=" description">
                ㅇ Github Actions, GCP (CICD)
            </p>
            <br>
            <p class=" description">
                ㅇ Gpt 3.5 Turbo (LLM)
            </p>
            <br>
            <p class=" description">
                ㅇ MySql, PostgreSQL (DB, 임베딩 및 유사도 측정)
            </p>
            <br>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title"> 카카오 브레인</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>Kakao Brain Backend Developer Intern (23.06.28.~23.08.28.)</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 언어모델사업실 Pathfinder TF
            </p>
            <br>
            <p class=" description">
                ㅇ LLM을 활용한 서비스 아이디어 제시 및 검증을 통한 전환 평가
            </p>
            <br>
            <p class=" description">
                ㅇ 아이디어 기획, MVP 개발 및 검증, 실험설계, 배포 및 피드백 반영까지의 과정
            </p>
            <br>
            <p class=" description">
                ㅇ 애자일 코치와 함께한 8주간의 애자일 프로세스
            </p>
            <br>
            <p class=" description">
                <a href="https://blog.kakaobrain.com/team/krew/1253" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>"카카오 패스파인더 소개글 - blog.kakaobrain.com/team/krew/1253 </span>
                </a>
            </p>
        </div>
        <div class="exp">
            <p class=" description">
                <b> PeterPen : LLM을 활용하여 주어진 Rubric에 따른 서술형 답안 첨삭 및 생성 서비스</b>
            </p>
            <br>
            <p class=" description">
                4,600명중 남은 32명의 마지막 정규직 평가, 패스파인더 프로젝트는 기획 측면에 무게를 둔 프로그램으로 2달간 진행되었습니다.
                <br>
                대규모 언어모델을 필수적으로 사용하는 서비스 기획이 필수였습니다. 기획의 임무와 LLM이라는 동시에 구체적이고도
                <br>
                포괄적인 프레임워크 내에서 아이디어를 제약해야 했기에 상당한 도전을 경험했습니다.
                <br><br>
                LLM의 강점들을 고려하여 PeterPen 이라는 이름으로, 주어진 객관적인 지표에 따른 서술형 답안 첨삭 및 생성 서비스를 기획했습니다.
                <br>
                이를 구체화하기 위한 대상은 토플(TOEFL) 영어 시험이었습니다.
                <br>
                유저들이 겪고있는 폐인포인트도 확실했고, 사업적으로도 매력있는 주제였습니다.
            </p>
            <br>
            <p class=" description">
                개발인원: 4명 (FE 2, BE 2)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할 및 프로젝트 주요 성과]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 비동기 처리를 활용한 병렬 처리로 GPT와의 통신 시간 단축 및 <b>최적화</b>
                <br><br>
                ㅤ여러 스레드를 활용한 병렬 처리 접근법과 비동기 요청 수집 방식을 사용하여 GPT와의 통신 효율을 극대화하였습니다.
                <br><br>
                ㅤ기존 20~40분 소요되던 API 요청 시간을 최대 5분 이내로 단축하였으며, <b>최대 87.5%의 시간 절약</b> 효과를 얻었습니다.
            </p>
            <br><br>
            <p class=" description">
                ㅇ 프롬프트 튜닝과 임베딩을 활용한 비슷한 답변을 유사도 필터링을 통하여 과채점 방지 <b>구현</b>
                <br><br>
                ㅤ언어모델과의 효과적인 상호작용을 위해 다양한 프롬프트를 테스트하고 조정, 설계하여, 주어진 문장에 대해 개발자가 원하는
                <br><br>
                ㅤ답변을 유도할 수 있도록 하여 1차 전처리 과정을 거쳤고, 임베딩을 통하여 2차 전처리 과정을 거쳤습니다.
                <br><br>
                ㅤ2차 전처리 과정에서, 유사도 측정의 <b>계산 비용</b>을 낮추고 데이터 <b>저장공간 효율성</b>을 높이기 위해 단어, 문장,
                <br><br>
                ㅤ문단을 벡터로 변환하였습니다.
            </p>
            <br><br>
            <p class=" description">
                ㅇ 추가적인 저장공간 효율성을 확보할 수 있는 희소행렬 적용 <b>검토</b>
                <br><br>
                ㅤ희소행렬에 대한 리서치 결과, 메모리 사용량과 계산 비용의 <b>trade-off 관계</b>에 있기 때문에, 데이터의 양이 많을수록 효율적으로
                <br><br>
                ㅤ작용합니다. 프로젝트의 현 상황을 고려하였을때, 희소행렬을 사용하지 않는 것이 효율적이라 <b>판단</b>하였습니다.
            </p>
            <br><br>
            <p class=" description">
                ㅇ API서버(자바, 스프링), AI서버(파이썬, FastAPI) 개발 및 프롬프트 엔지니어링 참여
            </p>
            <br><br>
            <p class=" description">
                ㅇ 팀의 애자일 프로세스 및 프로젝트 관리 리더
            </p>
            <br><br>
            <br>
            <br>
            <br>
            <p class=" description">
                <b>[사용한 Skill과 지식]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ Java, SpringBoot (API 서버)
            </p>
            <br>
            <p class=" description">
                ㅇ JWT, Redis (보안)
            </p>
            <br>
            <p class=" description">
                ㅇ Python, FastAPI (AI 서버)
            </p>
            <br>
            <p class=" description">
                ㅇ <b>병렬처리, 비동기처리</b> (AI 서버와 GPT와의 통신 시간 단축)
            </p>
            <br>
            <p class=" description">
                ㅇ Github Actions, GCP (CICD)
            </p>
            <br>
            <p class=" description">
                ㅇ Gpt 3.5 Turbo (LLM)
            </p>
            <br>
            <p class=" description">
                ㅇ MySql, PostgreSQL (DB, 임베딩 및 유사도 측정)
            </p>
            <br>
            <p class=" description">
                <a href="http://wonjoonthomaschoi.site/review/카카오브레인-인턴-회고록" target="_b" class="social_item">
                    <i data-feather="file-text"></i>
                    <span><b><i>인턴 회고록 - http://wonjoonthomaschoi.site/review/카카오브레인-인턴-회고록</i></b></span>
                </a>
                <a href="https://youtu.be/i0iet5Q6S_I?si=ErQDfFaImKHmwGiT" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span><b><i>인턴 영상 - youtu.be/i0iet5Q6S_I?si=ErQDfFaImKHmwGiT</i></b></span>
                </a>
            </p>
        </div>
    </div>
</div>


<h2 class="subtitle"><span style='font-size:30px;'>&#127979; Education</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title">KDT 핀테크 서비스 개발자</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 패스트캠퍼스에서 진행한 백엔드 개발자 양성 교육 과정 (22.09.15.~23.04.11.)</b>
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ 7개월 교육 과정
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">세종대학교</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 경영학 학사 졸업 (2011.~2019.)</b>
            </p>
            <br>
        </div>
    </div>
</div>



<h2 class="subtitle"><span style='font-size:30px;'>&#127941; Certificate</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title"> SQLD</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2019년 취득
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">TOEIC</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2017년 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 990점
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">경영 빅데이터 분석사</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2015년 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 빅데이터 경영업무에 필요한 이론과 실무능력을 검증하는 자격 시험제도
            </p>
            <br>
            <p class=" description">
                ㅇ 빅데이터 비즈니스 모델, 활용 전략, 분석 기획, 통계 등
            </p>
            <br>
            <p class=" description">
                <a href="http://www.kbigdata.kr/business03.html" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>About: kbigdata.kr/business03.html</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">TOEIC</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2011년 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 990점
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">TOEFL</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2010년 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 109점
            </p>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>🔧 OS Contribution</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Datastrato</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> [gravitino] API 모듈들의 가독성 향상을 위한 Annotation 제거 및 코드 개선 작업 #1359 </b>
            </p>
            <br>
            <p class=" description">
                ㅇ '@Getter' 및 '@EqualsAndHashCode' Annotation 제거
            </p>
            <br>
            <p class=" description">
                ㅇ 'getter', 'equals', 'hashCode' 메소드 구현
            </p>
            <br>
            <p class=" description">
                ㅇ 프로젝트의 다른 클래스들과 일관된 스타일을 유지하여 커스텀 toString 메소드 추가 구현
            </p>
            <br>
            <p class=" description">
                ㅇ 윈도우10 운영체제에서 발생하는 'Aux' 경로 관련 문제 발견 및 해결방안 공유
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/datastrato/gravitino/pull/1359" target="_b" class="social_item">
                    <i data-feather="git-pull-request"></i>
                    <span>github.com/datastrato/gravitino/pull/1359</span>
                </a>
            </p>
            <br>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Eclipse</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> [jkube] findTagSha 메소드 가독성 향상을 위한 메서드 분리 및 continue, goto, nested loop 제거 #2547 </b>
            </p>
            <br>
            <p class=" description">
                ㅇ 복잡한 로직을 private method들로 분리
            </p>
            <br>
            <p class=" description">
                ㅇ continue, goto, nested loop 제거
            </p>
            <br>
            <p class=" description">
                ㅇ 향상된 에러 핸들링을 위한 exception 메시지 수정
            </p>
            <br>
            <p class=" description">
                ㅇ 리팩토링 후 기존 테스트들을 통해 로컬 환경에서 정상 동작 확인
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/eclipse/jkube/pull/2547" target="_b" class="social_item">
                    <i data-feather="git-pull-request"></i>
                    <span>github.com/eclipse/jkube/pull/2547</span>
                </a>
            </p>
        </div>
    </div>

</div>



<h2 class="subtitle"><span style='font-size:30px;'>&#9749; Side Projects</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title">💡 CodeMentor</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 알고리즘 문제 해결 및 GPT 기반 평가 제공 코딩 테스트 플랫폼 (23.12.01.~24.01.31)</b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring Boot, Kubernetes, Kafka, Helm, Docker Compose, MySQL
            </p>
            <br>
            <p class=" description">
                개발인원: 4명 (FE 2, BE 1, DevOps 1)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 유저의 능력 향상을 위한 ChatGpt의 <b>NLP 기반 알고리즘 문제 해결 지원 및 분석 기능</b>을 활용한 유저의 코드 평가 및 피드백
            </p>
            <br>
            <p class=" description">
                ㅇ Kafka를 통해 실시간성과 높은 안정성을 갖춘 데이터 처리 및 통신 체계 구축.
            </p>
            <br>
            <p class=" description">
                ㅇ 비동기 통신 방식과 Server Sent Event(SSE) 기술을 도입하여 사용자에게 더욱 신속한 결과 제공.
            </p>
            <br>
            <p class=" description">
                ㅇ 도메인에 따른 서버 분리(MSA) 환경에서의 서비스 개발 및 배포를 위해 Kubernetes와 Helm을 활용한 효율적인 서비스 관리 및 운영.
            </p>
            <br>
            <p class=" description">
                ㅇ Factory 패턴을 적용하여 코드의 유지보수성 및 확장성 강화.
            </p>
            <br>
            <p class=" description">
                ㅇ CQRS(Repository Support 패턴)을 통해 명령과 쿼리의 책임을 명확히 분리하고, 효율적인 데이터 관리 및 접근 구조 설계.
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/CodeMentor-CodingSite/JavaServer-microservice" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>github.com/CodeMentor-CodingSite/JavaServer-microservice</span>
                </a>
                <a href="http://wonjoonthomaschoi.site/blog/카프카-도입기" target="_b" class="social_item">
                    <i data-feather="file-text"></i>
                    <span>http://wonjoonthomaschoi.site/blog/카프카-도입기</span>
                </a>
                <a href="http://wonjoonthomaschoi.site/blog/blog/쿠버네티스-도입과-프로젝트-개선-과정" target="_b" class="social_item">
                    <i data-feather="file-text"></i>
                    <span>http://wonjoonthomaschoi.site/blog/blog/쿠버네티스-도입과-프로젝트-개선-과정</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">👨‍💼‍ MediMatch</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 개인, 기업, 관리자 회원으로 구분하여 인사와 채용 절차 프로세스 자동화와 관리 서비스 (23.03.03.~23.04.11.)</b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Spring security, JPA, Lombok, JWT, RDS MySQL, AWS EC2, Jenkins
            </p>
            <br>
            <p class=" description">
                개발인원: 10명 (UXUI 3, FE 3, BE 4)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ ChatGpt의 <b>Intent Recognition</b>을 활용한 개인 수행비서 도입으로 사용자의 의도를 파악하여 적절한 기능을 수행
            </p>
            <br>
            <p class=" description">
                ㅇ Redis를 사용하여 캐싱을 통한 성능 향상 및 서버 부하 감소 효과
            </p>
            <br>
            <p class=" description">
                ㅇ 예외 처리와 테스트 코드를 통한 안정성 확보와 유지 보수성 향상 및 테스트 자동화
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/KDT3-final-project-team2/backend" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>github.com/KDT3-final-project-team2/backend</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">💳 Credit Market</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>대출 상품들을 한눈에 검색해 볼 수 있는 웹 서비스 (23.02.09.~23.02.25.) </b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Spring security, JPA, nginx, Lombok, JWT, MariaDB, MySQL, AWS EC2
            </p>
            <br>
            <p class=" description">
                개발인원: 8명 (FE 4, BE 4)
            </p>
            <br>
            <br>
            <p class=" description">
                <b>[역할]</b>
            </p>
            <br>
            <p class=" description">
                ㅇ <b>Trie 알고리즘</b>을 사용한 사용자 검색 속도 향상
            </p>
            <br>
            <p class=" description">
                ㅇ Https 설정, Spring Security와 JWT를 통한 보안 강화
            </p>
            <br>
            <p class=" description">
                ㅇ 팀장으로서 팀원들의 업무 분담 및 업무 진행 상황 관리 및 팀원들의 업무에 대한 피드백
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/724thomas/credit-market-BE" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>github.com/724thomas/credit-market-BE</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">📚 College Library</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>대학교 도서관 대여 웹 서비스  (22.12.02.~22.12.23.)</b>
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Thymeleaf, Jsoup, Kakao API, JavaCV, Mybatis, MariaDB
            </p>
            <br>
            <p class=" description">
                개발인원: 1명 (개인 프로젝트)
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ JavaCV frontline 데이터 모델과 Histogram을 이용한 <b>얼굴검출(Face <i>Recognition</i>) 결제</b>
            </p>
            <br>
            <p class=" description">
                ㅇ 소셜로그인(카카오)을 통한 회원가입 및 로그인 구현으로 사용자의 편의성 제공
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/724thomas/SpringBoot_CollegeLibrary" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>github.com/724thomas/SpringBoot_CollegeLibrary</span>
                </a>
            </p>
            <br>
        </div>
    </div>

<!--    <div class="group-1">-->
<!--        <div class="skills">-->
<!--            <h3 class="title">🎮 Adorable Dragon</h3>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="group-2">-->
<!--        <div class="exp">-->
<!--            <p class=" description">-->
<!--                <b>너무나도 재미있게 개발했었던 <i>3D</i> 유니티 안드로이드 게임 (2018.02.01.~2018.10.01.)</b>-->
<!--            </p>-->
<!--            <br>-->
<!--            <p class=" description">-->
<!--                기술스택: Unity, C#-->
<!--            </p>-->
<!--            <br>-->
<!--            <p class=" description">-->
<!--                개발인원: 1명 (개인 프로젝트)-->
<!--            </p>-->
<!--            <br>-->
<!--            <br>-->
<!--            <p class=" description">-->
<!--                ㅇ 기기별 성능에 따른 프레임 드랍 현상을 텍스처 압축, 시야 설정 기능으로 보완-->
<!--            </p>-->
<!--            <br>-->
<!--            <p class=" description">-->
<!--                <a href="https://play.google.com/store/apps/details?id=com.izaron.androideffects.vibration2" target="_b" class="social_item">-->
<!--                    <i data-feather="play"></i>-->
<!--                    <span><del>/PlayStore/AdorableDragon</del>(정책 변경으로 인한 삭제)</span>-->
<!--                </a>-->
<!--            </p>-->
<!--            <br>-->
<!--            <p class=" description">-->
<!--                <a href="https://www.youtube.com/watch?v=S6-Vlvt75nE" target="_b" class="social_item">-->
<!--                    <i data-feather="youtube"></i>-->
<!--                    <span>개발기록 - youtube.com/watch?v=S6-Vlvt75nE</span>-->
<!--                </a>-->
<!--            </p>-->
<!--            <br>-->
<!--            <p class=" description">-->
<!--                <a href="https://www.youtube.com/watch?v=V8IwXBggTys" target="_b" class="social_item">-->
<!--                    <i data-feather="youtube"></i>-->
<!--                    <span>시연영상 - youtube.com/watch?v=V8IwXBggTys</span>-->
<!--                </a>-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->

</div>



<h2 class="subtitle"><span style='font-size:30px;'>&#9997; Activities</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">

    <div class="group-1">
        <div class="skills">
            <h3 class="title">🧠 전공 스터디</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>면접 준비와 기본 CS 지식 공부</b>
            </p>
            <br>
            <p class=" description">
                ㅇ AvocadoBrain: 카카오브레인 인턴들과의 CS스터디 (23.09.18.~24.01.30)
            </p>
            <br>
            <p class=" description">
                ㅇ [리더] 소규모 수료생들과의 스터디 (23.03.24.~23.07.11.)
            </p>
        </div>
    </div>


    <div class="group-1">
        <div class="skills">
            <h3 class="title">👨‍💻 알고리즘 스터디</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>코딩 테스트 대비 알고리즘 스터디 맟 개인공부</b>
            </p>
            <br>
            <p class=" description">
                ㅇ Leetcode, 백준, 프로그래머스, Codewars 등의 알고리즘 사이트에서 <b>1,608</b>문제 풀이 (24.02.20. 기준)
            </p>
            <p class=" description">
                <a href="https://github.com/724thomas/CodingChallenge_Python" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>github.com/724thomas/CodingChallenge_Python</span>
                </a>
            </p>
            <br>
            <p class=" description">
                ㅇ Leetcode 알고리즘 면접 스터디 : (23.10.01.~)
            </p>
            <br>
            <p class=" description">
                ㅇ [리더] 소규모 스터디: (22.12.07.~23.12.27.)
            </p>
            <p class=" description">
                <a href="https://github.com/AlgorithmReview-Organization-2/CodingReviewRepository" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>github.com/AlgorithmReview-Organization-2/CodingReviewRepository</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">👨‍🏫 TechTalk</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> [리더] 교육과정 내에서 자발적으로 팀 단위로 진행한 세미나 (22.12.07.~23.01.18.)</b>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/NFFwtxEirNQ" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>AWS를 통한 배포 - youtu.be/NFFwtxEirNQ</span>
                </a>
            </p>
            <p class=" description">
                <a href="https://youtu.be/f-QPcwjoWW0" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>IPv4, Subnet Mask, CIDR, DHCP, NAT - youtu.be/f-QPcwjoWW0</span>
                </a>
            </p>
            <p class=" description">
                <a href="https://youtu.be/iZ_IUdTcpWE" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>TCP,IP - youtu.be/iZ_IUdTcpWE</span>
                </a>
            </p>
            <p class=" description">
                <a href="https://youtu.be/dVAJXfhdpdY" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>클린코드 팁 5가지 youtu.be/dVAJXfhdpdY</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">📚 서적</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> [개인] 자기개발을 위한 서적 (22.10.01.~)</b>
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ "자바 웹 개발 워크북" (22.10.01.~23.11.25.)
            </p>
            <br>
            <p class=" description">
                ㅇ "CODE 코드" (22.11.26.~23.12.24.)
            </p>
            <br>
            <p class=" description">
                ㅇ "그림으로 배우는 네트워크" (23.01.01.~23.01.30.)
            </p>
            <br>
            <p class=" description">
                ㅇ "클린코드" (24.03.24.~24.04.30.)
            </p>
            <br>
            <p class=" description">
                ㅇ "Real MySQL 8.0(1권)" - (24.05.01.~24.05.29)
            </p>
            <br>
            <p class=" description">
                ㅇ "가상 면접 사례로 배우는 대규모 시스템 설계 기초" - (24.06.10.~)
            </p>
            <br>
            <p class=" description">
                ㅇ "헤드 퍼스트 디자인 패턴" - (24.06.10.~)
            </p>
            <br>
            <p class=" description">
                ㅇ "이펙티브 자바" - (24.06.10.~)
            </p>
            <br>
            <p class=" description">
                ㅇ "Computer System a Programmer's Perspective" - (24.06.10.~)
            </p>
        </div>
        <br>
    </div>
</div>



<h2 class="subtitle"><span style='font-size:30px;'>&#128194; History</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">걸어왔던 길</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <a href="/resume/kor" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>이력서 - http://wonjoonthomaschoi.site/resume/kor</span>
                </a>
            </p>
            <br>
        </div>
    </div>
</div>

<script>
    feather.replace()
</script>
</body>
<!--https://codepen.io/724thomas/pen/zYJEQoB?editors=1100-->
</html>