<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>꾸준함을 즐기는 개발자, 최원준입니다.</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/css/portfoliostyle.css">
</head>

<body>
<nav>
    <div class="lang-menu" >
<!--        <span>Portfolio (</span>-->
        <a href="/portfolio/eng/">
            <span>English</span>
        </a>
        <a href="/portfolio/kor/">
            <span>Korean</span>
        </a>
<!--        <span>),   </span>-->
<!--        <span>Resume (</span>-->
<!--        <a href="/portfolio/eng/">-->
<!--            <span>English</span>-->
<!--        </a>-->
<!--        <a href="/porfolio/kor/">-->
<!--            <span>Korean</span>-->
<!--        </a>-->
<!--        <span>)</span>-->
    </div>
</nav>

<div class="container">
    <div class="profile">
        <div class="profile_container">
            <div class="profile_profileImg">
                <img src="/images/Me.jpg" alt="WonJoon Choi">
            </div>
            <div>
                <h1 class="profile_name">
                    <br><br><br><br><br>
                    <span class="profile_name_lastName">꾸준함을 즐기는 개발자</span>
                    <span class="profile_name_firstName"><b>최원준입니다. </b></span>
                </h1>
                <!--                <p class="profile_title">백엔드 웹 개발자</p>-->
                <p class="description_profile_description">

                </p>
            </div>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#128400;Introduction</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-3">
        <div class="contact">
            <!--            <h3 class="title">About Me</h3>-->
            <!--            https://www.w3schools.com/charsets/tryit.asp?deci=128400-->

            <h3 class="title">About Me</h3>
            <div class="Aboue_me"><br><br>
                <p class="description">
                    안녕하세요! 백엔드 신입 개발자 최원준입니다. 제 포트폴리오를 방문해주셔서 감사합니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 개발자가 되기 전부터 컴퓨터가 할 수 있는 것들에 대해 매료되어, 지금은 완전히 개발에 <b>마음</b>을 사로잡혔습니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 부분보다는 넓은 시야로 전체적인 맥락을 파악하려는 성격으로, 꼼꼼하게 접근하며 이해할 수 있는 연습을 <b>생활화</b>합니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 깔끔하지만 효율적으로 짜는 코드를 <b>지향</b>합니다.<br><br>
                </p>
                <p class="description">
                    ㅇ 잡담과 아이디어 회의 그리고 <b>함께 성장</b>하는 것에 관심이 많습니다.<br><br>
                </p>
            </div>
        </div>
        <div class="social">
            <h3 class="title">Contact & Channel</h3>
            <div class="social_items">
                <a target="_b" class="social_item">
                    <i data-feather="mail"></i>
                    <span>724thomas@gmail.com</span>
                </a>
                <a href="https://github.com/724thomas" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/724thomas</span>
                </a>
                <a href="https://thomaschoi.tistory.com/" target="_blank" class="social_item">
                    <i data-feather="bold"></i>
                    <span>/ThomasChoi.tistory</span>
                </a>
            </div>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#128296;Skills</span></h2>
<div class="container">

    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">Backend</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Java, Python
            </p>
            <p class=" description">
                Spring boot, Spring framework, RESTful API
            </p>
            <p class=" description">
                CI/CD, JWT, OAuth, AOP, Mockito, SWAGGER
            </p>
            <p class=" description">
                JavaCV, Selenium, ChatGPT API
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">DB</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                MariaDB, Mybatis, JPA
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Server</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Apache Tomcat, AWS EC2, nginx
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Tools</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Intellij, Postman, DBeaver, Unity
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Documents</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                Github, Slack, Notion, GoogleDrive, Powerpoint, Excel
            </p>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#9749;Projects</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">Credit Market</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>대출 상품들을 한눈에 검색해 볼 수 있는 웹 서비스 (23.02.09.~23.02.25.) </b>
            </p>
            <br>
            <p class=" description">
                개발인원: 8명 (FE 4, BE 4) - 팀장
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Spring security, JPA, ngingx, Lombok, JWT, MariaDB, MySQL, AWS EC2
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ OpenAPI를 이용한 공공데이터 254개의 상품에 대한 DB 자동 입력
            </p>
            <br>
            <p class=" description">
                ㅇ Https, DNS 설정 그리고 Spring Security와 JWT를 이용하여 보안 강화
            </p>
            <br>
            <p class=" description">
                ㅇ FE와의 협업을 통한 업무의 문서화, 작업순서, 의사소통의 중요성 경험
            </p>
            <br>
            <p class=" description">
                ㅇ DB에 부담을 적게 주기 위해 Like '%' 를 쓰지 않고, Trie 알고리즘을 사용한 자동완성 기능 속도 향상
            </p>
            <br>
            <p class=" description">
                ㅇ 미니 프로젝트 참여한 8팀들 중 모든 기준 만점을 받은 유일한 팀
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/724thomas/credit-market-BE" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/Credit_Market_BE/Readme.md</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">College Library</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>대학교 도서관 대여 웹 서비스  (22.12.02.~22.12.23.)</b>
            </p>
            <br>
            <p class=" description">
                개발인원: 1명 (개인 프로젝트)
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Thymeleaf, Jsoup, Kakao API, JavaCV, Mybatis, MariaDB
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ 역할마다 다른 작업이 가능하게 학생과 관리자의 권한을 분리
            </p>
            <br>
            <p class=" description">
                ㅇ Kakao 로그인을 이용한 간단 로그인과 세션을 통한 자동 로그인 구현
            </p>
            <br>
            <p class=" description">
                ㅇ OpenCV frontline 데이터 모델과 Histogram을 이용한 결제시 얼굴 검출 작업
            </p>
            <br>
            <p class=" description">
                ㅇ Jsoup을 이용하여 검색을 내부가 아닌 외부 검색엔진의 결과를 크롤링
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/724thomas/SpringBoot_CollegeLibrary" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/College_Library/Readme.md</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">ChatGPT Blog Posting</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>ChatGPT를 사용한 티스토리 블로그 포스팅.v1 (23.02.02.~)</b>
            </p>
            <br>
            <p class=" description">
                개발인원: 1명 (개인 프로젝트)
            </p>
            <br>
            <p class=" description">
                기술스택: Java, Spring boot, Thymeleaf, ChatGPT API
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ ChatGPT 검색 결과에 따른 블로그 글 자동 생성과 카카오 API를 사용한 블로그 수동/자동 포스팅
            </p>
            <br>
            <p class=" description">
                ㅇ 최소 1시간씩 걸리는 TIL 작성을 5분내로 단축
            </p>
            <br>
            <p class=" description">
                ㅇ
            </p>
            <br>
            <p class=" description">
                ㅇ
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/724thomas/SpringBoot_Automated_TIL_BlogPosting_ChatGPT" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/Blog_Posting/Readme.md</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">Adorable Dragon</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>너무나도 재미있게 개발했었던 유니티 안드로이드 게임 (2018.02.01.~2018.10.01.)</b>
            </p>
            <br>
            <p class=" description">
                개발인원: 1명 (개인 프로젝트)
            </p>
            <br>
            <p class=" description">
                기술스택: Unity, C#
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ 컨트롤러 강도에 따른 움직임 구현
            </p>
            <br>
            <p class=" description">
                ㅇ 텍스처 압축, 시야 설정 기능으로 기기별 성능에 따른 프레임 드랍 현상을 보완
            </p>
            <br>
            <p class=" description">
                ㅇ 구글 플레이 공개를 위한 등록 기준 충족
            </p>
            <br>
            <p class=" description">
                <a href="https://www.youtube.com/watch?v=S6-Vlvt75nE" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>/Youtube/개발기록</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://www.youtube.com/watch?v=V8IwXBggTys" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>/Youtube/시연영상</span>
                </a>
            </p>
        </div>
    </div>

</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#9997;Presentations, Group Studies & Personal Studies</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">TechTalk</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 교육과정 내에서 자발적으로 팀 단위로 진행한 세미나 (22.12.07.~23.01.18.)</b>
            </p>
            <br>
            <p class=" description">
                교육과정내에 짧은 강의시간을 조금이라도 더 보충하기 위한 목적
            </p>
            <br>
            <p class=" description">
                강사님들의 답변은 몇시간에서 최대 며칠이 걸리지만, 맞은편에 앉아있는 발표자에게 물어보면 실시간으로 답을 얻을 수 있다
            </p>
            <br>
            <p class=" description">
                짧은 발표이기때문에 해당 주제에 맞는 중요한 키워드 위주의 교육과 조원 눈높이의 QnA
            </p>
            <br>
            <p class=" description">
                <a href="https://www.notion.so/0c5e775bdf804489947d2e729bf4be86?v=c7530a13fc724e4faf4877bf539918ec&p=af7de8209e6c4bb0bba1cff8331a749c&pm=s" target="_b" class="social_item">
                    <i data-feather="film"></i>
                    <span>/Notion/All_Presentations</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/NFFwtxEirNQ" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/AWS를 통한 배포 (23.01.17.)</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/f-QPcwjoWW0" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/IPv4, Subnet Mask, CIDR, DHCP, NAT (23.01.03.)</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/iZ_IUdTcpWE" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/TCP/IP (22.12.21.)</span>
                </a>
            </p>
            <br>
            <p class=" description">
                <a href="https://youtu.be/dVAJXfhdpdY" target="_b" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>WonJoon/Youtube/클린코드 팁 5가지 (22.12.07.)</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">알고리즘 스터디</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b>교육과정내 팀내에서 소규모 그룹으로 진행된 스터디 (22.12.07.~)</b>
            </p>
            <br>
            <p class=" description">
                매일 추가적인 공부의 강제성을 부여
            </p>
            <br>
            <p class=" description">
                깃허브 repository를 부담없이 가지고 놀아보고 여러 세팅들을 시도해 볼 수 있었던 기회
            </p>
            <br>
            <p class=" description">
                온라인의 O/X 채점 방식을 서로 리뷰를 해주며 효율적인 접근 방식 참고
            </p>
            <br>
            <p class=" description">
                스터디 시간에 리뷰와 10분 아이디어 전체 회의와 30분 개인 문제풀이
            </p>
            <br>
            <p class=" description">
                <a href="https://github.com/AlgorithmReivew-Organizaion/CodingReviewRepository" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/Github/CodingReviewRepository</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title"> 깊이 알아보는 CS</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 전체적인 흐름을 파악하기 위한 추가 CS 지식 공부</b>
            </p>
            <br>
            <p class=" description">
                CS의 전체적인 큰 그림을 그리고 관련성을 이해하기 위한 목적
            </p>
            <br>
            <p class=" description">

            </p>
            <br>
            <p class=" description">
                ㅇ 자바 웹 개발 워크북 - 따라가기 힘들었던 강의 속도로 놓쳤던 부분들을 전체적으로 다시 한번 공부 할 수 있었고, 친절한 walkthrough로 기초 지식을 쌓기 좋았습니다. 현재도 참고하고 있습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ CODE 코드 - 컴퓨터의 구성요소들, 비트 논리게이트 등 하드웨어부분을 공부 할 수 있었습니다.
            </p>
            <br>
            <p class=" description">
                ㅇ 그림으로 배우는 네트워크 - 테크톡 발표와 동행하여 참고하여 공부했었습니다.
            </p>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#127979;Education</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">KDT 핀테크 서비스 개발자 3기</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <b> 패스트캠퍼스에서 진행한 백엔드 개발자 양성 교육 과정 (22.09.15.~23.04.11.)</b>
            </p>
            <br>
            <br>
            <p class=" description">
                ㅇ 7개월 교육 과정
            </p>
            <br>
            <p class=" description">
                ㅇ 자바부터 시작한 웹 서비스 중심 교육
            </p>
            <br>
            <p class=" description">
                ㅇ FE, UX/UI, 기업담당자를 포함한 팀 프로젝트를 통한 협업 경험
            </p>
            <br>
            <p class=" description">
                ㅇ Java, CS, Spring Boot, Server 외 다수
            </p>
        </div>
    </div>
</div>

<h2 class="subtitle"><span style='font-size:30px;'>&#127941;Certificate</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title"> SQLD</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2019년 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 데이터베이스와 데이터 모델링에 대한 지식
            </p>
            <br>
            <p class=" description">
                ㅇ 데이터를 조작하고 추출하는데 있어서 정확하고 최적의 성능을 발휘하는 SQL작성
            </p>
            <br>
            <p class=" description">
                <a href="https://www.dataq.or.kr/www/sub/a_04.do" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/About/SQLD</span>
                </a>
            </p>
        </div>
    </div>

    <div class="group-1">
        <div class="skills">
            <h3 class="title">경영 빅데이터 분석사</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                ㅇ 2015.09.19. 취득
            </p>
            <br>
            <p class=" description">
                ㅇ 빅데이터 경영업무에 필요한 이론과 실무능력을 검증하는 자격 시험제도
            </p>
            <br>
            <p class=" description">
                ㅇ 빅데이터 비즈니스 모델, 활용 전략, 분석 기획, 통계 등
            </p>
            <br>
            <p class=" description">
                <a href="http://www.bigtest.or.kr/academy/exam_guide/exam_guide.php?c=1" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/About/BigDataAnalysis</span>
                </a>
            </p>
        </div>
    </div>
</div>


<h2 class="subtitle"><span style='font-size:30px;'>&#128194;History</span></h2>
<div class="container">
    <hr align="center" style="width: 100%;">
    <div class="group-1">
        <div class="skills">
            <h3 class="title">걸어왔던 길</h3>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <p class=" description">
                <a href="/resume/kor" target="_b" class="social_item">
                    <i data-feather="external-link"></i>
                    <span>/Resume</span>
                </a>
            </p>
            <br>
        </div>
    </div>
</div>

<script>
    feather.replace()
</script>
</body>
<!--https://codepen.io/724thomas/pen/zYJEQoB?editors=1100-->
</html>