<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <div class="lang-menu" >
            <a href="/resume/eng/">
                <span>English </span>
            </a>
            <a href="/resume/kor/">
                <span>Korean</span>
            </a>
        </div>
    </nav>

<div class="container">
    <div class="profile">
        <div class="profile_container">
            <div class="profile_profileImg">
                <img src="/images/Me2.jpg" alt="WonJoon Choi">
            </div>
            <div>
                <h1 class="profile_name">
                    <span class="profile_name_firstName">Won Joon Choi</span>
                    <span class="profile_name_lastName">Thomas</span>
                </h1>
                <p class="profile_title">Backend Web Developer</p>
<!--                <p class="description profile_description">-->
<!--                    Enthusiastic Backend Web developer with a experiences in Java, Spring, and MySQL.-->
<!--                    I am always seeking to expand my skillset and apply the latest technologies to solve-->
<!--                    real-world problems.-->
<!--                </p>-->
                    <a class="downloadBtn" href="/pdf/WonJoon_Resume_Eng.pdf" download="WonJoon_Resume_Eng.pdf">Download Resume</a>
            </div>
        </div>
    </div>
    <div class="group-1">
<!--        <div class="skills">-->
<!--            <h3 class="title">Expertise</h3>-->
<!--            <ul class="skills_list description">-->
<!--                <li>Java</li>-->
<!--                <li>Spring Boot</li>-->
<!--                <li>Python</li>-->
<!--                <li>SQL</li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="ref">
            <h3 class="title">Reference</h3>
            <div class="ref_item">
                <h4 class="ref_name">Alex Cheon</h4>
                <p class="description">CEO of Caremile</p>
                <a class="downloadBtn" href="/pdf/Letter of Recommendation - Alex Cheon.pdf" download="WonJoon_LOR_AlexCheon">Letter of Recommendation</a>
            </div>
            <div class="ref_item">
                <h4 class="ref_name">Ralf Kang</h4>
                <p class="description">Vice President of Caremile</p>
                <a class="downloadBtn" href="/pdf/Letter of Recommendation - Ralf Kang.pdf" download="WonJoon_LOR_RalfKang">Letter of Recommendation</a>
            </div>
            <div class="ref_item">
                <h4 class="ref_name">DongKyu Jin</h4>
                <p class="description">Director of Department of Sales</p>
                <a class="downloadBtn" href="/pdf/Letter of Recommendation - DK Jin.pdf" download="WonJoon_LOR_DKJin">Letter of Recommendation</a>
            </div>
        </div>



        <div class="certification">
            <h3 class="title">certification</h3>
            <div class="certification_item">
                <p class="item_preTitle">2019</p>
                <h4 class="item_title">SQL Developer (SQLD)</h4>
                <p class="description">
                    A certification for demonstrating knowledge and understanding of SQL in relation to database management.
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2017</p>
                <h4 class="item_title">TOEIC 990</h4>
                <p class="description">
                    An international standardized test of English language proficiency for non-native speakers.
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2017</p>
                <h4 class="item_title">TOEIC Speaking 7</h4>
                <p class="description">
                    A test measure to assess speaking skills used in the workplace.
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2017</p>
                <h4 class="item_title">Oral Profiency Interview (OPIc) IH</h4>
                <p class="description">
                    A test which provides valid and reliable oral proficiency testing on a large scale.
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2015</p>
                <h4 class="item_title">Big Data Analytist for Business</h4>
                <p class="description">
                    A certification system that verifies the theoretical and practical skills required for managing big data operations.
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2013</p>
                <h4 class="item_title">International Trade Specialist</h4>
                <p class="description">
                    A certification that verifies the holder's knowledge and understanding of the principles and practices of international trade.
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2011</p>
                <h4 class="item_title">TOEIC 990</h4>
                <p class="description">
                    An international standardized test of English language proficiency for non-native speakers.
                </p>
            </div>
            <div class="certification_item">
                <p class="item_preTitle">2010</p>
                <h4 class="item_title">TOEFL 109</h4>
                <p class="description">
                    A standardized test to measure the English language ability of non-native speakers
                </p>
            </div>
        </div>
    </div>
    <div class="group-2">
        <div class="exp">
            <h3 class="title">Experience</h3>
            <div class="exp_item">
                <p class="item_preTitle">2021 - 2022</p>
                <h4 class="item_title">Caremile, Itoxi</h4>
                <p class="item_subtitle">International Sales & Logistic Manager</p>
                <p class=" description">
                    Worked as a international sales and logistic manager. My main responsibilities also
                    include analyzing and identifying the best strategy and solution for international sales
                    and logistics for the company.
                </p>
            </div>
            <div class="exp_item">
                <p class="item_preTitle">2013 - 2013</p>
                <h4 class="item_title">Samsung Engineering</h4>
                <p class="item_subtitle">Intern</p>
                <p class="description">
                    Worked as a intern in the department of PG division of Samsung Engineering. My main
                    responsibilities were to manage and communicate with client(Saudi Aramco)'s employees
                    by thoroughly understanding the context of the project and the client's needs.
                </p>
            </div>
        </div>
        <div class="edu">
            <h3 class="title">Education</h3>
            <div class="edu_item">
                <p class="item_preTitle">2011-2018</p>
                <h4 class="item_title">Sejong University, Seoul, South Korea</h4>
                <p class="item_subtitle">
                    Bachelor of Business Management
                </p>
            </div>
            <div class="edu_item">
                <p class="item_preTitle">2008-2010</p>
                <h4 class="item_title">KyungKi High School, Seoul, South Korea</h4>
                <p class="item_subtitle">

                </p>
            </div>
            <div class="edu_item">
                <p class="item_preTitle">2003-2008</p>
                <h4 class="item_title">Overseas Family School, Singapore</h4>
                <p class="item_subtitle">

                </p>
            </div>
        </div>
        <div class="awards">
            <h3 class="title">Extra Curricular Activities</h3>
            <div class="awards_item">
                <p class="item_preTitle">2022.09 - 2023.04</p>
                <h4 class="item_title">FastCampus - BackEnd Developer</h4>
                <p class="description">
                    I have studied mainly Java, Spring Framework, and CS, and additionally
                    conducting CS presentations and algorithm group studies. With a collaborative projects partnership
                    with a company including UXUI, Front-End, I have implemented ChatGPT and other latest techs
                    in my project. I have also worked on personal projects using tools such as Selenium and JavaCV.
                </p>
            </div>
            <div class="awards_item">
                <p class="item_preTitle">2017 - 2017</p>
                <h4 class="item_title">SCV - Social, Culture, Variety</h4>
                <p class="item_subtitle">Bicycle Club Leader</p>
                <p class="description">
                    As a member of organization and a leader of subgroup, bicycle club, I was responsible for
                    organizing and managing the club's activities and events including basic educations needed
                    for bicycle riding, bicycle riding tours, and bicycle maintenance.
                </p>
            </div>
            <div class="awards_item">
                <p class="item_preTitle">2013 - 2015</p>
                <h4 class="item_title">BoonTour - Global College Student Union Volunteering Activities </h4>
                <p class="item_subtitle">Vice President</p>
                <p class=" description">
                    Serving as Vice President of BoonTour and also head of External Relations Team,
                    I was responsible for managing the organization's overall activities as well as coordinating
                    the organization's external partnerships with both national and international organizations.
                </p>
            </div>
            <div class="awards_item">
                <p class="item_preTitle">2013</p>
                <h4 class="item_title">Model United Nations Seoul Summit (MUN)</h4>
                <p class="item_subtitle">Representative of Cuba in General Assembly</p>
                <p class="description">
                    As a delegate of Cuba, I was responsible for representing
                    the country's interests and policies in the United Nations General Assembly and to
                    negotiate with other countries to achieve the best possible outcome for the country regarding
                    topics related to R2P, Health, Immigration.
                </p>
            </div>
            <div class="awards_item">
                <p class="item_preTitle">2012-2012</p>
                <h4 class="item_title">Semi-con exhibition translator</h4>
                <p class="item_subtitle">Part-time job</p>
                <p class="description">
                    As a part-time worker, I was responsible for translating and interpreting
                    the exhibition's information and documents from English to Korean and vice versa.
                </p>
            </div>
        </div>

        <div class="interest">
            <h3 class="title">Interest</h3>
            <div class="interest_items">
                <div class="interest_item">
                    <i data-feather="music"></i>
                    <span>Music</span>
                </div>
                <div class="interest_item">
                    <i data-feather="book"></i>
                    <span>Books</span>
                </div>
                <div class="interest_item">
                    <i data-feather="navigation"></i>
                    <span>Cycling</span>
                </div>
                <div class="interest_item">
                    <i data-feather="anchor"></i>
                    <span>Swimming</span>
                </div>
                <div class="interest_item">
                    <i data-feather="map"></i>
                    <span>Travel</span>
                </div>

            </div>

        </div>
    </div>
    <hr>
    <div class="group-3">
        <div class="contact">
            <h3 class="title">Contact</h3>
            <div class="contact_info">
                <p class="description">
                    Seoul, South Korea
                </p>
                <p class="description">
                    +82 10 4843 0882
                </p>
                <p class="description">
                    724thomas@gmail.com
                </p>
            </div>
        </div>
        <div class="social">
            <h3 class="title">Socials</h3>
            <div class="social_items">
                <a href="https://github.com/724thomas" target="_b" class="social_item">
                    <i data-feather="github"></i>
                    <span>/724thomas</span>
                </a>
                <a href="https://thomaschoi.tistory.com/" target="_blank" class="social_item">
                    <i data-feather="bold"></i>
                    <span>/ThomasChoi.tistory</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    feather.replace()
</script>
</body>

</html>